a {
  text-decoration: none;
  color: inherit;
}

nav {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav a {
  color: #000;
}

nav .bars {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #333;
  display: block;
}

nav .container {
  max-width: 1170px;
  margin: 0 auto;
}

nav .nav_con {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  margin: 20px 0;
  padding-left: 30px;
}

nav .nav_con ul {
  display: none;
}

nav .nav_con .button {
  display: none;
}

.mobile_menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile_menu li {
  margin: 35px;
}

.mobile_menu li a {
  color: #000;
}

.mobile_button {
  display: flex;
  width: 100px;
  height: 35px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 35px;
  margin-bottom: 20px;
}

.mobile_button a {
  color: #333;
}

@media screen and (min-width: 980px) {
  nav .container {
    max-width: 1400px;
  }
  
  nav .nav_con {
    flex-direction: row;
    height: 60px;
    padding: 0 30px;
    align-items: center;
    margin: 0;
  }
  
  nav .nav_con ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav .nav_con ul li {
    margin: 0 35px;
  }
  
  nav .nav_con .button {
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #333;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  nav .nav_con .button a {
    color: #333;
  }
  
  .mobile_menu,
  .mobile_button,
  nav .bars {
    display: none;
  }
}
